/* line 5, /Users/superandrew/personal_projects/practice_game/app/assets/stylesheets/games.scss */
body {
  background-color: #d7d7d7;
  height: 100%;
  width: 100%;
}

/* line 10, /Users/superandrew/personal_projects/practice_game/app/assets/stylesheets/games.scss */
#app-main {
  width: 600px;
  height: 500px;
  background-color: black;
  border: #666;
  box-shadow: 0 5px 10px 0px #666;
  color: white;
  margin: 20px auto;
  border-radius: 2px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

