// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$width: 584px;

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: 'Arial';
}
#app-main {
  width: $width;
  height: 474px;
  background-color: #999;
  border: #666;
  color: white;
  margin: 20px auto;
  border-radius: 2px;
  padding: 0px 5px;
  position: relative;
  
  button {
    width: 200px;
    height: 60px;
    display: block;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
  }
  #gameBoard {
    position: absolute;
    top: -6px;
    left: 2px;
  }
}
#game-stats {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  left: 0;
  padding: 16.5% 0;

  p {
    color: black;
    text-align: center;
    font-size: 24px;
    font-style: bold;
  }
}
#score-board {
  width: $width;
  margin: 10px auto;
  background: white;
  box-shadow: 0 5px 10px 0px #666;
  padding: 20px;
  font-size: 24px;
  display: none;

  div {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  #final {
    width: 100%;
    font-style: italic;
    display: none;
    margin-bottom: 10px;
  }
}
#tile-scores {
  font-size: 16px;
}
.tile {
  height: 86px;
  width: 108px;
  display: inline-block;
  margin: 2px 4px;
  box-shadow: 0px 10px 0px 0px #666;
}
.green {
  background-color: #00FF00;
  box-shadow: 0px 10px 0px 0px #666, inset 0px 0px 10px 2px rgba(255, 255, 255, 0.9);
  // animation: pulse-green 2s linear infinite;
  // animation-delay: 0s;
}
@keyframes pulse-green {  
  50% { 
    background-color: #B6FF00; 
  }
}
.blue {
  background-color: #007FFF;
  box-shadow: 0px 10px 0px 0px #666, inset 0px 0px 10px 2px rgba(255, 255, 255, 0.6);
  // animation: pulse-blue 5s linear infinite;
  // animation-delay: 2s;
}
@keyframes pulse-blue {  
  95% {
    background-color: #1a48ff;
  }
  98% { 
    background-color: #0276FD; 
  }
}
.yellow {
  background-color: #FFFF60;
  box-shadow: 0px 10px 0px 0px #666, inset 0px 0px 10px 3px rgba(255, 255, 255, 0.9);
  // animation: pulse-yellow 2s linear infinite;
  // animation-delay: 1.5s;
}
@keyframes pulse-yellow {  
  50% { 
    background-color: #F3F315; 
  }
}
.red {
  background-color: #FF0000;
  box-shadow: 0px 10px 0px 0px #666, inset 0px 0px 10px 2px rgba(255, 255, 255, 0.6);
  // animation: pulse-red 2s linear infinite;
  // animation-delay: 0.5s;
}
@keyframes pulse-red {  
  50% { 
    background-color: #DD0048; 
  }
}
.green.disabled {
  background-color: #00b300;
  box-shadow: 0px 10px 0px 0px #00b300;
  animation: none;
}
.blue.disabled {
  background-color: #0029cc;
  box-shadow: 0px 10px 0px 0px #0029cc;
  animation: none;
}
.yellow.disabled {
  background-color: #d1d100;
  box-shadow: 0px 10px 0px 0px #d1d100;
  animation: none;
}
.red.disabled {
  background-color: darkred;
  box-shadow: 0px 10px 0px 0px darkred;
  animation: none;
}
.tile.disabled {
  transition: linear .1s;
  cursor: not-allowed;
  height: 76px;
  margin-top: 12px;
}




