// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$width: 600px;
* {
  box-sizing: border-box;
}

body {
  background-color: #d7d7d7;
  height: 100%;
  width: 100%;
  font-family: 'Arial';
}
#app-main {
  width: $width;
  height: 500px;
  background-color: black;
  border: #666;
  box-shadow: 0 5px 10px 0px #666;
  color: white;
  margin: 20px auto;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  
  button {
    width: 200px;
    height: 60px;
    display: block;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
  }
}
.tile {
  height: 96px;
  width: 116px;
  display: inline-block;
  margin-bottom: -4px;
  border: 1px solid white;
}
.tile:hover {
  border: 2px solid black;
}
#score-board {
  width: $width;
  margin: 10px auto;
  background: white;
  box-shadow: 0 5px 10px 0px #666;
  padding: 20px;
  font-size: 24px;
  display: none;

  div {
    width: 50%;
    display: inline-block;
    text-align: center;
  }
  #final {
    width: 100%;
    font-style: italic;
    display: none;
    margin-bottom: 10px;
  }
}