// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$width: 584px;

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: 'Arial';
  margin: 0;
}
#app-main {
  width: $width;
  height: 474px;
  background-color: #999;
  border: #666;
  color: white;
  margin: 20px auto;
  border-radius: 2px;
  padding: 0px 5px;
  position: relative;
  @media (max-width: 650px){
    width: 100%;
  }
  #instructions {
    padding: 5%;
  }
  button {
    width: 200px;
    height: 60px;
    display: block;
    font-size: 20px;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    margin: auto;
    background-color: #e7e7e7;
    border: none;

  }
  #gameBoard {
    position: absolute;
    top: -6px;
    left: 2px;
  }
}
#game-stats {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  left: 0;
  padding: 16.5% 0;

  p {
    color: black;
    text-align: center;
    font-size: 24px;
    font-style: bold;
  }
}
#gameBoard {
  width: 100%;
}
#score-board {
  width: $width;
  margin: 10px auto;
  background: white;
  box-shadow: 0 5px 10px 0px #666;
  padding: 20px;
  font-size: 24px;
  display: none;
  @media (max-width: 650px){
    width: 100%;
  }
  div {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  #final {
    width: 100%;
    font-style: italic;
    display: none;
    margin-bottom: 10px;
  }
}
#tile-scores {
  font-size: 16px;
}
.tile {
  height: 86px;
  width: 108px;
  display: inline-block;
  margin: 2px 4px;
  box-shadow: 0px 10px 0px 0px #666;
}
.green {
  background-color: #00FF00;
  box-shadow: 0px 10px 0px 0px #666, inset 0px 0px 10px 2px rgba(255, 255, 255, 0.9);
  // animation: pulse-green 2s linear infinite;
  // animation-delay: 0s;
}

.blue {
  background-color: #007FFF;
  box-shadow: 0px 10px 0px 0px #666, inset 0px 0px 10px 2px rgba(255, 255, 255, 0.6);
  // animation: pulse-blue 5s linear infinite;
  // animation-delay: 2s;
}
.yellow {
  background-color: #FFFF60;
  box-shadow: 0px 10px 0px 0px #666, inset 0px 0px 10px 3px rgba(255, 255, 255, 0.9);
  // animation: pulse-yellow 2s linear infinite;
  // animation-delay: 1.5s;
}

.red {
  background-color: #FF0000;
  box-shadow: 0px 10px 0px 0px #666, inset 0px 0px 10px 2px rgba(255, 255, 255, 0.6);
  // animation: pulse-red 2s linear infinite;
  // animation-delay: 0.5s;
}

.green.disabled {
  background-color: #00b300;
  box-shadow: 0px 10px 0px 0px #00b300;
  animation: none;
}
.blue.disabled {
  background-color: #0029cc;
  box-shadow: 0px 10px 0px 0px #0029cc;
  animation: none;
}
.yellow.disabled {
  background-color: #d1d100;
  box-shadow: 0px 10px 0px 0px #d1d100;
  animation: none;
}
.red.disabled {
  background-color: darkred;
  box-shadow: 0px 10px 0px 0px darkred;
  animation: none;
}
.tile.disabled {
  transition: linear .1s;
  cursor: not-allowed;
  height: 76px;
  margin-top: 12px;
}

@media screen {
  #game-stats {
    padding: 0;
    p {
      font-size: 20px;
      margin: 5px 0;
    }
    button {
      border: 1px solid #666;
    }
  }
}

/* ----------- iPhone 5 and 5S ----------- */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) {
    .tile {
      width: 55px;
      height: 51px;
    }
    .tile.disabled {
      height: 45px;
    }
    .tile.disabled {
      height: 45px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: portrait) {
    #app-main {
      height: 57.5vh;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) { 
    .tile {
      width: 66px;
      height: 61px;
    }
    .tile.disabled {
      height: 51px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: portrait) { 
    #app-main {
      height: 55.5vh;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (orientation: landscape) { 
    #app-main {
      height: 56.5vh;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) { 
    .tile {
      width: 74px;
      height: 74px;
    }
    .tile.disabled {
      height: 64px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: portrait) { 
    #app-main {
      height: 56.5vh;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (orientation: landscape) { 
    #app-main {
      height: 56.5vh;
    }
}

/* --- Portrait global  --- */

@media only screen
  and (max-width: 736px)
  and (orientation: portrait){
    #app-main {
      #gameBoard {
        top: -10px;
      }
    }
}

/* --- Landscape global  --- */

@media only screen
  and (max-width: 736px)
  and (orientation: landscape){
  #app-main {
    height: 100vh;
    width: 56.5vw;
    margin: 0;
    display: inline-block;
    #gameBoard {
      top: 0;
    }
  }
  #score-board {
    width: 42vw;
    vertical-align: top;
  }
}

