<div id="app-main">
  <%= react_component('NewGame') %>
</div>
<div id="score-board">
  <div id="final">
  </div>
  <div id="score">
    <span></span>
  </div><!--
  --><div id="tile-scores">
  </div>
</div>
<%= link_to("My Games", user_path(@user.url) , class: 'bottom-link') %>